examples/example-flow.json
[
    {
        "id": "flow1",
        "label": "基本 Schema 分析與轉換",
        "nodes": [
            {
                "id": "inject1",
                "type": "inject",
                "z": "flow1",
                "name": "開始分析 Schema",
                "topic": "",
                "payload": "{\"tableName\":\"users\"}",
                "payloadType": "json",
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "x": 140,
                "y": 100,
                "wires": [["analyze1"]]
            },
            {
                "id": "analyze1",
                "type": "schema-bridge",
                "z": "flow1",
                "name": "分析來源 Schema",
                "sourceConnection": "mssql-conn1",
                "targetConnection": "postgres-conn1",
                "sourceTable": "users",
                "targetTable": "",
                "operation": "analyze",
                "generateSql": true,
                "x": 330,
                "y": 100,
                "wires": [["debug1", "convert1"]]
            },
            {
                "id": "convert1",
                "type": "schema-bridge",
                "z": "flow1",
                "name": "轉換 Schema",
                "sourceConnection": "",
                "targetConnection": "",
                "sourceTable": "",
                "targetTable": "users_migrated",
                "operation": "convert",
                "generateSql": true,
                "x": 520,
                "y": 100,
                "wires": [["debug2", "function1"]]
            },
            {
                "id": "debug1",
                "type": "debug",
                "z": "flow1",
                "name": "Schema 分析結果",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload.schema",
                "targetType": "msg",
                "x": 520,
                "y": 160,
                "wires": []
            },
            {
                "id": "debug2",
                "type": "debug",
                "z": "flow1",
                "name": "轉換後的 SQL",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload.sql",
                "targetType": "msg",
                "x": 710,
                "y": 160,
                "wires": []
            },
            {
                "id": "function1",
                "type": "function",
                "z": "flow1",
                "name": "格式化輸出",
                "func": "msg.formattedOutput = {\n    operation: msg.payload.operation,\n    sourceTable: msg.payload.sourceTable,\n    targetTable: msg.payload.targetTable,\n    schemaColumns: msg.payload.schema.length,\n    sqlPreview: msg.payload.sql.substring(0, 200) + '...'\n};\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 710,
                "y": 100,
                "wires": [["debug3"]]
            },
            {
                "id": "debug3",
                "type": "debug",
                "z": "flow1",
                "name": "格式化結果",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "formattedOutput",
                "targetType": "msg",
                "x": 900,
                "y": 100,
                "wires": []
            }
        ]
    },
    {
        "id": "flow2",
        "label": "完整資料遷移流程",
        "nodes": [
            {
                "id": "inject2",
                "type": "inject",
                "z": "flow2",
                "name": "開始遷移",
                "topic": "",
                "payload": "{\"tableName\":\"products\",\"batchSize\":1000}",
                "payloadType": "json",
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "x": 140,
                "y": 240,
                "wires": [["migrate1"]]
            },
            {
                "id": "migrate1",
                "type": "schema-bridge",
                "z": "flow2",
                "name": "執行資料遷移",
                "sourceConnection": "mssql-conn1",
                "targetConnection": "postgres-conn1",
                "sourceTable": "products",
                "targetTable": "products_migrated",
                "operation": "migrate",
                "generateSql": true,
                "executeSQL": true,
                "includeData": true,
                "batchSize": 1000,
                "x": 330,
                "y": 240,
                "wires": [["debug4", "function2"]]
            },
            {
                "id": "debug4",
                "type": "debug",
                "z": "flow2",
                "name": "遷移結果",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "x": 710,
                "y": 240,
                "wires": []
            },
            {
                "id": "function2",
                "type": "function",
                "z": "flow2",
                "name": "檢查遷移狀態",
                "func": "if (msg.payload.success) {\n    node.status({fill:\"green\",shape:\"dot\",text:`遷移成功: ${msg.payload.migratedRows} 筆`});\n    msg.migrationStatus = \"SUCCESS\";\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"遷移失敗\"});\n    msg.migrationStatus = \"FAILED\";\n}\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 520,
                "y": 240,
                "wires": [["debug4"]]
            }
        ]
    },
    {
        "id": "flow3",
        "label": "自訂 Schema 轉換",
        "nodes": [
            {
                "id": "inject3",
                "type": "inject",
                "z": "flow3",
                "name": "自訂 Schema",
                "topic": "",
                "payload": "{\"operation\":\"convert\",\"sourceTable\":\"custom_table\",\"targetTable\":\"new_custom_table\",\"sourceDbType\":\"mssql\",\"targetDbType\":\"postgres\",\"schema\":[{\"name\":\"id\",\"type\":\"SERIAL PRIMARY KEY\",\"nullable\":false},{\"name\":\"name\",\"type\":\"VARCHAR(100)\",\"nullable\":false,\"defaultValue\":\"'Unknown'\"},{\"name\":\"email\",\"type\":\"VARCHAR(255)\",\"nullable\":true},{\"name\":\"created_at\",\"type\":\"TIMESTAMP\",\"nullable\":false,\"defaultValue\":\"CURRENT_TIMESTAMP\"},{\"name\":\"is_active\",\"type\":\"BOOLEAN\",\"nullable\":false,\"defaultValue\":\"true\"}]}",
                "payloadType": "json",
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "x": 140,
                "y": 380,
                "wires": [["convert2"]]
            },
            {
                "id": "convert2",
                "type": "schema-bridge",
                "z": "flow3",
                "name": "自訂轉換",
                "sourceConnection": "",
                "targetConnection": "",
                "sourceTable": "",
                "targetTable": "",
                "operation": "convert",
                "generateSql": true,
                "x": 320,
                "y": 380,
                "wires": [["debug5", "template1"]]
            },
            {
                "id": "debug5",
                "type": "debug",
                "z": "flow3",
                "name": "自訂 SQL",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload.sql",
                "targetType": "msg",
                "x": 690,
                "y": 380,
                "wires": []
            },
            {
                "id": "template1",
                "type": "template",
                "z": "flow3",
                "name": "SQL 模板",
                "field": "sqlFormatted",
                "fieldType": "msg",
                "format": "handlebars",
                "syntax": "mustache",
                "template": "-- 自動生成的 CREATE TABLE 語句\n-- 目標資料庫: {{payload.targetDbType}}\n-- 目標表格: {{payload.targetTable}}\n-- 生成時間: {{payload.convertedAt}}\n\n{{payload.sql}}",
                "output": "str",
                "x": 500,
                "y": 380,
                "wires": [["debug5"]]
            }
        ]
    },
    {
        "id": "flow4",
        "label": "批次處理與錯誤處理",
        "nodes": [
            {
                "id": "inject4",
                "type": "inject",
                "z": "flow4",
                "name": "批次遷移",
                "topic": "",
                "payload": "{\"tables\":[\"orders\",\"order_items\",\"customers\"]}",
                "payloadType": "json",
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "x": 140,
                "y": 520,
                "wires": [["split1"]]
            },
            {
                "id": "split1",
                "type": "split",
                "z": "flow4",
                "name": "分割表格清單",
                "splt": "\\n",
                "spltType": "str",
                "arraySplt": 1,
                "arraySpltType": "len",
                "stream": false,
                "addname": "tableName",
                "x": 320,
                "y": 520,
                "wires": [["function3"]]
            },
            {
                "id": "function3",
                "type": "function",
                "z": "flow4",
                "name": "準備遷移",
                "func": "msg.payload = {\n    tableName: msg.payload,\n    targetTable: msg.payload + '_migrated',\n    batchSize: 500\n};\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 500,
                "y": 520,
                "wires": [["migrate2"]]
            },
            {
                "id": "migrate2",
                "type": "schema-bridge",
                "z": "flow4",
                "name": "批次遷移",
                "sourceConnection": "mssql-conn1",
                "targetConnection": "postgres-conn1",
                "sourceTable": "",
                "targetTable": "",
                "operation": "migrate",
                "generateSql": true,
                "executeSQL": true,
                "includeData": true,
                "batchSize": 500,
                "x": 680,
                "y": 520,
                "wires": [["join1"]]
            },
            {
                "id": "join1",
                "type": "join",
                "z": "flow4",
                "name": "彙總結果",
                "mode": "auto",
                "build": "array",
                "property": "payload",
                "propertyType": "msg",
                "key": "topic",
                "joiner": "\\n",
                "joinerType": "str",
                "accumulate": false,
                "timeout": "",
                "count": "",
                "reduceRight": false,
                "reduceExp": "",
                "reduceInit": "",
                "reduceInitType": "",
                "reduceFixup": "",
                "x": 840,
                "y": 520,
                "wires": [["function4"]]
            },
            {
                "id": "function4",
                "type": "function",
                "z": "flow4",
                "name": "生成報告",
                "func": "let successful = 0;\nlet failed = 0;\nlet totalRows = 0;\n\nmsg.payload.forEach(result => {\n    if (result.success) {\n        successful++;\n        totalRows += result.migratedRows || 0;\n    } else {\n        failed++;\n    }\n});\n\nmsg.migrationReport = {\n    totalTables: msg.payload.length,\n    successful: successful,\n    failed: failed,\n    totalRowsMigrated: totalRows,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 1000,
                "y": 520,
                "wires": [["debug6"]]
            },
            {
                "id": "debug6",
                "type": "debug",
                "z": "flow4",
                "name": "遷移報告",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "migrationReport",
                "targetType": "msg",
                "x": 1180,
                "y": 520,
                "wires": []
            }
        ]
    },
    {
        "id": "mssql-conn1",
        "type": "Schema Bridge Connection",
        "name": "SQL Server 連接",
        "dbType": "mssql",
        "server": "localhost",
        "port": "1433",
        "database": "testdb",
        "domain": "",
        "appName": "atomic-schema-bridge",
        "encryption": false,
        "trustServerCertificate": true,
        "connectionTimeout": 15000,
        "requestTimeout": 15000,
        "connectionRetryInterval": 3000,
        "poolMin": 1,
        "poolMax": 10,
        "poolIdleTimeoutMillis": 30000
    },
    {
        "id": "postgres-conn1",
        "type": "Schema Bridge Connection",
        "name": "PostgreSQL 連接",
        "dbType": "postgres",
        "server": "localhost",
        "port": "5432",
        "database": "testdb",
        "ssl": false,
        "connectionTimeout": 15000,
        "requestTimeout": 15000,
        "connectionRetryInterval": 3000,
        "poolMin": 1,
        "poolMax": 10,
        "poolIdleTimeoutMillis": 30000
    },
    {
        "id": "mysql-conn1",
        "type": "Schema Bridge Connection",
        "name": "MySQL 連接",
        "dbType": "mysql",
        "server": "localhost",
        "port": "3306",
        "database": "testdb",
        "connectionTimeout": 15000,
        "requestTimeout": 15000,
        "connectionRetryInterval": 3000,
        "poolMin": 1,
        "poolMax": 10,
        "poolIdleTimeoutMillis": 30000
    }
] 